*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.header-container{
  height: 65px;
}

.header-left{
  float: left;
}

.header-right{
  float: right;
  background-color: rgba(238, 234, 20, 0.3);
  display: flex;
  transition: all 0.5s;
}

.header-right a:hover{
  background-color: yellowgreen;
}

.header-right a{
  line-height: 65px;
  color: brown;
  padding: 0 25px;
  display: block
}

.top-wrapper{
  padding: 30px 0 400px 0;
  background-image: url(../img/header_img.jpg);
  color: goldenrod;
  background-size: cover;
}

.top-wrapper h1{
  /* 透明度 */
  opacity: 0.7;
  font-size: 40px;
  /* letter-spacing: 2px; */
}

.container{
  /* width: 1170px; */
  padding: 0 15px;
  /* margin: 0 auto; */
  text-align: center;
}



/* .top_page{
  background-image: url(../img/pexels-tim-mossholder-383640.jpg);
} */



.card{
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card_img{
  width: 100%;
  /* width: 150px; */
  height: 200px;
}

.card_content{
  padding: 20px;
}

.card_title{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.card_text{
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}